.reveal{
	background: #141823;
	color: #FFFAFA;
}

.reveal .sign-font{
	font-family: 'Dr Sugiyama', cursive;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	font-family: 'Exo', sans-serif;
	margin: 15px 0;
}
.reveal p, .reveal a, .reveal i, .reveal b, .reveal ul, .reveal li{
	font-family: 'Cabin', sans-serif;
	letter-spacing: 1px;
}
.reveal code{
	font-family: 'Share Tech Mono', monospace;
}
.reveal .sign-font{
	font-family: 'Dr Sugiyama', cursive;
}

.reveal ul, .reveal ul ul, .reveal ul ul ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.reveal ul ul ul{
	margin-left: 15px;
}
.reveal a{
	color: #FFFAFA;
	text-decoration: none;
	-webkit-transition: color .4s ease;
	   -moz-transition: color .4s ease;
	    -ms-transition: color .4s ease;
	     -o-transition: color .4s ease;
	        transition: color .4s ease;
}
.reveal a:hover{
	text-decoration: none;
	color: #70D8D4;
}
.reveal .fa{
	font-size: 2.2em;
}

/* ==== Text Colors ==== */
.reveal .text-white{
	color: #FFFAFA;
}
.reveal .text-black{
	color: #141823;
}
.reveal .text-green{
	color: #36DC36;
}
.reveal .text-teal-lightest{
	color: #A9DDD9;
}
.reveal .text-teal-lighter{
	color: #70D8D4;
}
.reveal .text-teal-light{
	color: #44C5C0;
}
.reveal .text-teal{
	color: #23B5AF;
}
.reveal .text-teal-dark{
	color: #00A9A3;
}
.reveal .text-teal-darker{
	color: #007C77;
}
.reveal .text-red{
	color: #E3493B;
}
.reveal .text-yellow{
	color: #EEBA4C;
}
.reveal .text-muted{
	opacity: 0.7;
}

.reveal .fade-black{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 21%, rgba(0,0,0,0.45) 36%, rgba(0,0,0,0.45) 67%, rgba(0,0,0,0) 82%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(21%,rgba(0,0,0,0)), color-stop(36%,rgba(0,0,0,0.45)), color-stop(67%,rgba(0,0,0,0.45)), color-stop(82%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.45) 36%,rgba(0,0,0,0.45) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.45) 36%,rgba(0,0,0,0.45) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.45) 36%,rgba(0,0,0,0.45) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(0,0,0,0.45) 36%,rgba(0,0,0,0.45) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
	padding: 15px 0;
}

.reveal .pageMark{
	position: fixed;
	bottom: 40px;
	left: 25px;
	z-index: 30;
	display: block;
	opacity: .4;
}

/* ==== First Slide ==== */
.reveal .slide-1 h2{
	font-size: 1.6em;
	margin-top: 25px;
}
.reveal .contact{
	text-align: right;
	float: right;
	margin: 200px -45px 0 0;
}
.reveal .contact p span.fa{
	margin-left: 15px;
	vertical-align: middle;
}
.reveal .contact p span.fa.fa-github{
	font-size: 1.45em;
}
.reveal .contact p span.fa.fa-phone{
	font-size: 1.45em;
	margin: 0 3px 0 19px;
}
.reveal .contact p span.fa.fa-envelope-o{
	font-size: 1.4em;
}
.reveal .contact p span.fa.fa-laptop{
	font-size: 1.4em;
}

.reveal .wid{
	float: left;
	width: 300px;
	margin: 0 5px;
}
.reveal .wid .title{
	text-align: center;
}
.reveal .wid .title h3{
	border-bottom: 4px solid #23B5AF;
	max-width: 270px;
	margin: 6px auto 5px;
	padding: 2px;
}
.reveal .wid .title img{
	height: 300px;
	max-height: 100px;
	max-width: 300px;
}
.reveal .wid > ul{
	margin-left: 50px;
}
.reveal .wid > ul > li{
	margin: 8px 0 5px;
}
.reveal .wid ul ul li{
	margin: 3px 0;
	opacity: 0.5;
}

.reveal section.frame, .reveal section iframe{
	max-width: none;
	max-height: none;
}
.reveal section.frame iframe{
	height: 600px;
}
.reveal section.frame iframe.mobile{
	width: 500px;
}
.reveal .img-frame{
	height: 600px;
	max-width: none;
	overflow-x: scroll;
}
.reveal .img-frame img{
	max-width: none;
	width: 100%;
	height: auto;
	max-height: none;
}

.reveal section.springsteenLaw section{
	color: #141823;
	max-width: none;
}
.reveal section section div.header, .reveal section section div.footer{
	position: absolute;
	left: 0;
	max-width: none;
	height: 100px;
	width: 2000px;
	margin-left: -300px;
}
.reveal section.springsteenLaw section div.header, .reveal section.springsteenLaw section div.footer{
	background: #1F1F20;
}
.reveal section section div.header{
	top: 0;
}
.reveal section.springsteenLaw section div.header{
	border-bottom: 8px solid #567EBB;
}
.reveal section section:first-child div.header{
	margin-top: -30%;
}
.reveal section section div.footer{
	bottom: 0;
}
.reveal section section:first-child div.footer{
	margin-bottom: -32.5%;
}

.reveal .socialPyle section:first-child{
	background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 21%, rgba(26,28,38,0.65) 36%, rgba(26,28,38,0.65) 67%, rgba(0,0,0,0) 82%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(21%,rgba(0,0,0,0)), color-stop(36%,rgba(26,28,38,0.65)), color-stop(67%,rgba(26,28,38,0.65)), color-stop(82%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(26,28,38,0.65) 36%,rgba(26,28,38,0.65) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(26,28,38,0.65) 36%,rgba(26,28,38,0.65) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(26,28,38,0.65) 36%,rgba(26,28,38,0.65) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 21%,rgba(26,28,38,0.65) 36%,rgba(26,28,38,0.65) 67%,rgba(0,0,0,0) 82%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

.reveal .fourRemindingMe, .reveal .portlight{
	color: #141823;
	max-width: none;
}
.reveal .austinTexas{
	color: #382F2D;
	max-width: none;
}
.reveal .austinTexas section:first-child .header{
	background: #D6D2C4;
}